  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FINAL EXAM</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <title>Dashboard</title>
    <!-- Add any other necessary stylesheets or scripts here -->
    <link rel="stylesheet" type="text/css" href="/css/styles_dash.css">
  </head>
  <body>
    <nav class="navbar custom-navbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="home.html">Final Exam</a>
        </div>
        <ul class="nav navbar-nav custom-navbar navbar-right ">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="/login">Index</a></li>
          <li><a href="/dash">DashBoard</a></li>
    
          
          <li><a >To Do</a></li>
        
          </ul>
        
      </div>
    </nav>
    <h1>Dashboard</h1>

    <div class="centered">
      <img src="HR.jpeg" alt="Centered Image">
    </div>

    <h3>Add Department</h3>

    <form id="departmentForm" action="/api/adddepartment" method="POST">
      <div class="form-group">
        <label for="departmentName">Department Name:</label>
        <input type="text" id="departmentName" name="departmentName" required>
      </div>
    
      <button type="submit" class="btn">Add Department</button>
    </form>
    
    <h1>User List</h1>
    <table border="1">
      <thead>
        <tr>
          <th>ID</th>
          <th>Department Name</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <% departments.forEach(department => { %>
          <tr>
            <td><%= department.id %></td>
            <td><%= department.name %></td>
            <td><button class="deleteButton">Delete</button></td>
          </tr>
        <% }); %>
      </tbody>
    </table>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <script>
      $(document).ready(function () {
        $(document).on("click", ".deleteButton", function (e) {
          e.preventDefault();
          const del_name = $(this).closest("tr").children(":first").text();
          $(this).closest("tr").remove();
          var formData = { name: del_name };
          $.ajax({
            type: 'DELETE',
            url: '/api/deleteuser',
            data: formData,
            success: function (response, status) {
            },
            error: function (error) {
              console.error('Error deleting user:', error);
            }
          });
        });

        $('#departmentForm').submit(function (e) {
          e.preventDefault();
          var formData = {
            name: $('#departmentName').val(),
            id: $('#password').val()
          };
          console.log('Form data:', formData);
          $.ajax({
            type: 'POST',
            url: '/api/adddepartment',
            data: formData,
            success: function (response, status) {
              window.location.reload();
            },
            error: function (error) {
              console.error('Error adding department:', error);
            }
          });
        });
      });
    </script>
  </body>
  </html>