body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
  }
  h1 {
    color: orange;
    text-align: center;
  }
  h3 {
    color: blue;
    text-align: left;
  }
  .centered {
    text-align: center;
  }
  .centered img {
    width: 300px;
    display: block;
    margin: auto;
  }