<!DOCTYPE html>
<html lang="en">
  <head>
    
  <title>FINAL EXAM</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <script src="https://kit.fontawesome.com/dcfd99c924.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="stylesheet_home.css">

  </head>

  <body>
    
    <header><nav class="navbar custom-navbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="home.html">Final Exam</a>
        </div>
        <ul class="nav navbar-nav custom-navbar navbar-right ">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="/login">login</a></li>
          <li><a href="jquerytodo.html">Sign Up </a></li>
          <li><a href="jquerytodo.html">To Do</a></li>
         
          </ul>
        
      </div>
    </nav></header>
    

    <main>
      <!-- Section: Design Block -->
<section class="">
  <!-- Jumbotron -->
  <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
    <div class="container">
      <div class="row gx-lg-5 align-items-center">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <h1 class="my-5 display-3 fw-bold ls-tight">
            AAST Final Exam <br />
            <span class="text-primary">WEB APP</span>
          </h1>
          <p style="color: hsl(217, 10%, 50.8%)">
            
          </p>
        </div>

        <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="card">
            <div class="card-body py-5 px-md-5">
              <form id="loginForm" method="POST" action="/api/login">
              
                <div>

                  <br>
                </div>
                <div class="form-outline mb-4">
                  <label class="form-label" for="username">Username</label>
                  <input
                    type="text"
                    id="username"
                    name="username"
                    class="form-control"
                    required
                  />
                  
                  
                </div>

                <!-- Password input -->
                <div class="form-outline mb-4">
                  <label class="form-label" for="password">Password</label>

                  <input type="password" id="password" name="password" required class="form-control" />
                </div>

       
              

                <button 
                type="submit"
                href="/login_2"
                class="login-button"
                value="login"
                class="btn btn-primary btn-block mb-4">
                  login 
                </button>    

                <!-- Register buttons -->
                <div class="text-center">
                  <p>or sign up with:</p>
                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-facebook-f"></i>
                  </button>

                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-google"></i>
                  </button>

                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-twitter"></i>
                  </button>

                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-github"></i>
                  </button>
                </div>
              </form>




            </div>
          </div>
        </div>
        <div class="col-lg-6 mb-5 mb-lg-0">


          
        </div>

        <div class="col-lg-3 mb-5 mb-lg-0">
          <form id="SIGNUPForm" method="POST" action="/api/signup">
            <div class="cant-sign-in-section">
              <p>Can't sign in?</p>
              <button class="signup-button">Sign Up</button>
            </div></form>

            <br>
        </div>
      </div>
    </div>
  </div>
  <!-- Jumbotron -->
</section>
<!-- Section: Design Block -->
      







    </main>

    <!-- Include your JavaScript libraries here -->
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>

    

   
  </body>
</html>
