<!DOCTYPE html>
<html lang="en">
<head>

  <title>FINAL EXAM</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <script src="https://kit.fontawesome.com/dcfd99c924.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="stylesheet_home.css">
</head>



<body>

<nav class="navbar custom-navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="home.html">Final Exam</a>
    </div>
    <ul class="nav navbar-nav custom-navbar navbar-right ">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="/login">Index</a></li>
      <li><a href="/dash">DashBoard</a></li>

      
      <li><a >To Do</a></li>
     
      </ul>
    
  </div>
</nav>
  

<div class="jumbotron text-center">
  <h1>Final Exam</h1> 
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Column 1</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="col-sm-4">
      <h3>Column 2</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="col-sm-4">
      <h3>Column 3</h3>        
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
  </div>
</div>


<script>
  $(document).ready(function(){
    $("#toggle_btn").click(function(){
      $("#multi_sel").prop("disabled", function(i, val) {
        return !val; // Toggle the disabled property
      });
    });
  });
</script>

  

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  
</body>
</html>
